---
import { formatDateToMonthDayYear } from "../../../helpers/date";

import Hero from "../../pure/Hero.tsx";
import Icon from "../../pure/Icon.astro";
import Pill from "../../pure/Pill.astro";

interface Props {
    tags: string[];
    description: string;
    title: string;
    publish_date: Date;
}

const { tags, description, title, publish_date } = Astro.props;
---

<header
    class="w-auto border-b-[1px] border-solid border-[#e3e6ee] pb-[2.5rem] dark:border-[#283044]"
>
    <div
        class="flex w-full max-w-[83rem] flex-col gap-2"
        style="margin-inline: auto; padding-inline: 1.5rem;"
    >
        <div class="flex justify-between">
            <a
                class="hidden self-start underline decoration-transparent decoration-solid decoration-1 underline-offset-[0.25rem] hover:decoration-current focus:decoration-current lg:block"
                href="/blogs/1"
            >
                <Icon icon="arrow-left" />
                <span>Blogs</span>
            </a>
            <p>{formatDateToMonthDayYear(publish_date)}</p>
        </div>
        <Hero title={title} align="start">
            <div
                class="flex flex-col items-center justify-between gap-[1.5rem] p-[0.5rem] lg:flex-row lg:gap-[2.5rem]"
            >
                <div class="flex w-full flex-wrap gap-[0.5rem]">
                    {
                        tags.map(t => (
                            <Pill slug={`/blogs/${t.toLowerCase()}`}>{t}</Pill>
                        ))
                    }
                </div>
                <p class="max-w-[54ch] text-[1.25rem]">{description}</p>
            </div>
        </Hero>
    </div>
</header>
