---
import Icon from "@/components/Icon.astro";
import TechnologyLink from "@/components/TechnologyLink";
import type { TIconPath } from "@/helpers/types";

type TSkill = {
    icon: TIconPath;
    name: string;
    desc: string;
    technologies: string[];
};

const skills: TSkill[] = [
    {
        icon: "terminal-window",
        name: "Full Stack Development",
        desc: "Build a fast, scalable, and maintainable web application with me. I can handle the end-to-end development of your web application, starting from the frontend to the backend.",
        technologies: [
            "JavaScript",
            "TypeScript",
            "React.js",
            "SolidJS",
            "Node.js",
            "Koa.js",
            "Laravel",
        ],
    },
    {
        icon: "paper-plane-tilt",
        name: "Wordpress Plugin Development",
        desc: "Create your custom WordPress plugin with me. I'll turn your dream idea into powerful software, including custom WordPress shortcodes.",
        technologies: [
            "PHP",
            "Wordpress",
            "WooCommerce",
            "Composer",
            "JavaScrpit",
            "React.js",
        ],
    },
    {
        icon: "list",
        name: "API Server Development",
        desc: "Construct your API server for web applications, mobile apps, desktop, and more. I specialize in building your envisioned UI-agnostic API server.",
        technologies: [
            "Node.js",
            "JavaScript",
            "TypeScript",
            "Express.js",
            "Koa.js",
            "Laravel",
            "Go",
        ],
    },
];
---

<section
    class="flex flex-col gap-8 rounded-xl border border-xx-gray-800 bg-xx-gray-999-40 p-6 shadow-sm lg:flex-row lg:gap-12 lg:rounded-[1.5rem] lg:p-[2.5rem]"
>
    {
        skills.map(skill => (
            <div class="flex w-full flex-col gap-2 lg:w-1/3 lg:gap-4">
                <Icon
                    icon={skill.icon}
                    color="var(--accent-regular)"
                    size="2.5rem"
                    gradient
                />
                <h2 class="text-[1.25rem] lg:text-[2.125rem]">{skill.name}</h2>
                <p class="min-h-[100px] text-xx-gray-400">{skill.desc}</p>
                <div class="flex flex-wrap gap-2">
                    {skill.technologies.map(technology => (
                        <TechnologyLink
                            technology={technology}
                            class="rounded-full border border-purple-700 bg-xx-gray-999 px-3 py-1 font-bold text-purple-700"
                        >
                            {technology}
                        </TechnologyLink>
                    ))}
                </div>
            </div>
        ))
    }
</section>
