---
import {CollectionEntry, getCollection} from 'astro:content';
import ContactCTA from "../../../components/pure/ContactCTA.astro";
import BlogContent from "../../../screens/blogs/[...slug]/Content.astro";
import BlogHeader from "../../../screens/blogs/[...slug]/Header.astro";
import BaseLayout from "../../../layouts/Layout.astro";

interface Props {
    entry: CollectionEntry<'blogs'>;
}
export async function getStaticPaths() {
    const blogs = await getCollection('blogs' as any);
    return blogs.map((entry) => ({
        params: {slug: entry.slug},
        props: {entry},
    }));
}

const {entry} = Astro.props;
const {Content} = await entry.render();
---

<BaseLayout
        title={entry.data.title}
        description={entry.data.description}
>
    <div class="flex flex-col gap-[5rem]">
        <div class="flex flex-col gap-[3.75rem]">
            <BlogHeader
                    title={entry.data.title}
                    description={entry.data.description}
                    tags={entry.data.tags}
                    publishDate={entry.data.publishDate}
            />
            <BlogContent
                    img={entry.data.img}
                    imgAlt={entry.data.img_alt}
                    Content={Content}
            />
        </div>
        <ContactCTA/>
    </div>
</BaseLayout>
