---
import type { TProject } from "@content/config";

interface Props {
    project: TProject;
}

const { data, slug } = Astro.props.project;
---

<li class="font-sx-font-brand">
    <a
        class="shadow-sx-shadow-sm hover:shadow-sx-shadow-md flex h-max flex-col gap-2 overflow-hidden rounded-xl border border-solid border-sx-gray-800 px-1 py-4 text-[1.25rem] text-sx-gradient-subtle transition-shadow duration-[0.2s] ease-in-out lg:rounded-3xl lg:p-5 lg:py-10"
        href={`/projects/${slug}`}
    >
        <div class="flex justify-between lg:px-2 lg:py-1">
            <span
                class="text-sx-gray-200 bg-sx-gray-999 m-2 rounded-md px-2 py-1 lg:rounded-2xl lg:px-4 lg:py-2"
            >
                {data.type}
            </span>
            <span
                class="text-sx-gray-200 bg-sx-gray-999 m-2 rounded-md px-2 py-1 lg:rounded-2xl lg:px-4 lg:py-2"
            >
                {data.domain}
            </span>
        </div>
        <div class="px-2 py-1 lg:px-4 lg:py-2">
            <img
                src={data.img}
                alt={data.img_alt || ""}
                loading="lazy"
                decoding="async"
                class="h-full w-full rounded-xl object-contain"
            />
        </div>
        <div class="lg:px-2 lg:py-1">
            <h2
                class="text-sx-gray-200 bg-sx-gray-999 m-2 rounded-md px-2 py-1 text-5xl lg:rounded-2xl lg:px-4 lg:py-2"
            >
                {data.title}
            </h2>
        </div>
        <div class="lg:px-2 lg:py-1">
            <p
                class="text-sx-gray-200 bg-sx-gray-999 m-2 rounded-md px-2 py-1 lg:rounded-2xl lg:px-4 lg:py-2"
            >
                {data.description}
            </p>
        </div>
        <div class="flex flex-wrap gap-2 px-2 py-1 lg:px-4 lg:py-2">
            {
                data.technologies.map(tag => (
                    <span class="text-sx-gray-200 bg-sx-gray-999 rounded-md px-2 py-1 lg:rounded-2xl lg:px-4 lg:py-2">
                        {tag}
                    </span>
                ))
            }
        </div>
    </a>
    <div class="flex flex-wrap gap-2 px-2 py-1 lg:px-4 lg:py-2">
        {
            [...Object.keys(data.links)].map(key => (
                <a class="px-2 text-sx-link-color" href={data.links[key]}>
                    {key}
                </a>
            ))
        }
    </div>
</li>
