---
import { titles, descriptions } from "site.config";
import { getCollection } from "astro:content";
import { deslugify, slugify } from "@helpers/slug";

import ContactCTA from "@components/pure/ContactCTA.astro";
import Hero from "@components/pure/Hero.astro";
import Layout from "@layouts/Layout.astro";
import List from "@components/blogs/list/List.astro";

export async function getStaticPaths({}: {}) {
    let tags: string[] = [];

    (await getCollection("blogs")).forEach(blog => {
        tags = [...tags, ...blog.data.tags];
    });

    return tags.map(tag => ({ params: { slug: slugify(tag) } }));
}

const { slug } = Astro.params;

const blogs = (await getCollection("blogs")).filter(blog =>
    blog.data.tags.find(tag => slug === slugify(tag)),
);

const tag = deslugify(slug);
---

<Layout title={titles["/blogs"]} description={descriptions["/blogs"]}>
    <div class="flex flex-col gap-20">
        <main class="wrapper flex flex-col gap-8">
            <Hero
                title={`Tag: ${tag}`}
                tagline={`Explore all "${tag}" related posts`}
                align="start"
                alignHero="end"
            />
            <List blogs={blogs} />
            <!-- {
                page.url.next ? (
                    <PaginationLink link={page.url.next} />
                ) : (
                    <PaginationLink
                        link={page.url.prev}
                        text="Previous Blogs"
                    />
                )
            } -->
        </main>

        <ContactCTA />
    </div>
</Layout>
