---
import { type CollectionEntry, getCollection } from "astro:content";

import ContactCTA from "@components/pure/ContactCTA.astro";
import Layout from "@layouts/Layout.astro";
import Header from "@components/projects/ProjectHeader.astro";
import ContentProject from "@components/projects/ProjectContent.tsx";

interface Props {
    entry: CollectionEntry<"projects">;
}

export async function getStaticPaths() {
    const projects = await getCollection("projects");
    return projects.map(entry => ({
        params: { slug: entry.slug },
        props: { entry },
    }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title} description={entry.data.description}>
    <div class="flex flex-col gap-[5rem]">
        <div class="flex flex-col gap-[3.75rem]">
            <Header
                title={entry.data.title}
                description={entry.data.description}
                technologies={entry.data.technologies}
                type={entry.data.type}
                domain={entry.data.domain}
            />
            <ContentProject
                img={entry.data.img}
                imgAlt={entry.data.img_alt || ""}
                imgLink={entry.data.img_link || ""}
            >
                <Content />
            </ContentProject>
        </div>
        <ContactCTA />
    </div>
</Layout>
