---
import { titles, descriptions } from "site.config.ts";
import { getCollection } from "astro:content";
import { deslugify, generate_tags, slugify } from "@/helpers/etc";

import Layout from "@/layouts/Layout.astro";

import ContactCTA from "@/components/ContactCTA";
import Hero from "@/components/Hero.tsx";

import BlogTags from "@/screens/blogs/Tags.astro";
import BlogList from "@/screens/blogs/List.astro";

export async function getStaticPaths({}: {}) {
    let tags: string[] = [];

    (await getCollection("blogs")).forEach(blog => {
        tags = [...tags, ...blog.data.tags];
    });

    return tags.map(tag => ({ params: { tag: slugify(tag) } }));
}

const { tag: slug } = Astro.params;

const blogs = (await getCollection("blogs")).filter(blog =>
    blog.data.tags.find(tag => slug === slugify(tag)),
);

const tag = deslugify(slug);

const tags = generate_tags(await getCollection("blogs"));
---

<Layout title={titles["/blogs"]} description={descriptions["/blogs"]}>
    <div class="flex flex-col gap-20">
        <main class="wrapper flex flex-col gap-20">
            <Hero
                title={`Tag: ${tag}`}
                tagline={`Explore all "${tag}" related posts`}
                align="start"
                alignHero="end"
            >
                <></>
            </Hero>
            <BlogTags tags={tags} tagSlug={slug} />
            <BlogList blogs={blogs} />
        </main>

        <ContactCTA />
    </div>
</Layout>
 
