---
import { titles, descriptions } from "site.config.ts";
import { getCollection } from "astro:content";
import { deslugify, slugify } from "@helpers/slug.ts";
import { generateTags } from "@helpers/blogs.ts";

import ContactCTA from "@components/pure/ContactCTA.tsx";
import Hero from "@components/pure/Hero.tsx";
import Layout from "@layouts/Layout.astro";
import List from "@components/blogs/list/List.astro";
import Tags from "@components/blogs/list/Tags.astro";

export async function getStaticPaths({}: {}) {
    let tags: string[] = [];

    (await getCollection("blogs")).forEach(blog => {
        tags = [...tags, ...blog.data.tags];
    });

    return tags.map(tag => ({ params: { tag: slugify(tag) } }));
}

const { tag: slug } = Astro.params;

const blogs = (await getCollection("blogs")).filter(blog =>
    blog.data.tags.find(tag => slug === slugify(tag)),
);

const tag = deslugify(slug);

const tags = generateTags(await getCollection("blogs"));
---

<Layout title={titles["/blogs"]} description={descriptions["/blogs"]}>
    <div class="flex flex-col gap-20">
        <main class="wrapper flex flex-col gap-20">
            <Hero
                title={`Tag: ${tag}`}
                tagline={`Explore all "${tag}" related posts`}
                align="start"
                alignHero="end"
            >
                <></>
            </Hero>
            <Tags tags={tags} tagSlug={slug} />
            <List blogs={blogs} />
        </main>

        <ContactCTA />
    </div>
</Layout>
