---
import { titles, descriptions } from "site.config.ts";
import { getCollection } from "astro:content";
import { deslugify, generate_tags, slugify } from "@/helpers/etc";
import { BLOGS } from "@/content/config";

import Layout from "@/layouts/Layout.astro";

import ContactCTA from "@/components/ContactCTA";
import Hero from "@/components/Hero.tsx";

import Tags from "@/screens/blogs/Tags.tsx";
import List from "@/screens/blogs/List.astro";

export async function getStaticPaths({}: {}) {
    let tags: string[] = [];

    (await getCollection(BLOGS)).forEach(blog => {
        tags = [...tags, ...blog.data.tags];
    });

    return tags.map(tag => ({ params: { tag: slugify(tag) } }));
}

const { tag: slug } = Astro.params;

const blogs = (await getCollection(BLOGS)).filter(blog =>
    blog.data.tags.find(tag => slug === slugify(tag)),
);

const tag = deslugify(slug);

const tags = generate_tags(await getCollection("blogs"));
const total_blogs_count = (await getCollection(BLOGS)).length;
---

<Layout title={titles["/blogs"]} description={descriptions["/blogs"]}>
    <div class="flex flex-col gap-20">
        <main class="wrapper flex flex-col gap-20">
            <Hero
                title={`Tag: ${tag}`}
                tagline={`Explore all "${tag}" related posts`}
                align="start"
                alignHero="end"
            >
                <></>
            </Hero>
            <Tags blogsCount={total_blogs_count} tags={tags} tagSlug={slug} />
            <List blogs={blogs} />
        </main>
        <ContactCTA />
    </div>
</Layout>
 
