---
import type { Page, PaginateFunction } from "astro";

import * as site_config from "site.config.ts";

import { BLOGS } from "@/content/config";
import { getCollection, type CollectionEntry } from "astro:content";
import { generate_tags } from "@/helpers/etc";

import ContactCTA from "@/components/ContactCTA";
import Hero from "@/components/Hero.tsx";
import Layout from "@/layouts/Layout.astro";

import Tags from "@/screens/blogs/Tags.tsx";
import List from "@/screens/blogs/List.astro";
import PaginationLink from "@/screens/blogs/PaginationLink.tsx";

export async function getStaticPaths({
    paginate,
}: {
    paginate: PaginateFunction;
}) {
    const blogs = (await getCollection(BLOGS)).sort(
        (a, b) => b.data.publish_date.valueOf() - a.data.publish_date.valueOf(),
    );

    return paginate(blogs, {
        pageSize: site_config.total_number_blogs_on_blogs_page,
    });
}

export interface Props {
    page: Page<CollectionEntry<"blogs">>;
}

const { page } = Astro.props;

const blogs = page.data;

const tags = generate_tags(await getCollection("blogs"));
const total_blogs_count = (await getCollection(BLOGS)).length;
---

<Layout
    title={site_config.titles["/blogs"]}
    description={site_config.descriptions["/blogs"]}
>
    <div class="flex flex-col gap-20">
        <main class="wrapper flex flex-col gap-20">
            <Hero
                title="My Blogs"
                tagline="Explore my Latest Insights and Perspectives"
                align="end"
                alignHero="end"
            >
                <></>
            </Hero>
            <Tags tags={tags} blogsCount={total_blogs_count} />
            <List blogs={blogs} />
            {
                blogs.length > site_config.total_number_blogs_on_blogs_page && (
                    <>
                        {page.url.next ? (
                            <PaginationLink link={page.url.next} />
                        ) : (
                            <PaginationLink
                                link={page.url.prev}
                                text="Previous Blogs"
                            />
                        )}
                    </>
                )
            }
        </main>
        <ContactCTA />
    </div>
</Layout>
